* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PublicPixel;
  src: url("assets/fonts/PublicPixel.ttf") format("truetype");
}

.notSelected {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
  user-select: none;
}

#main {
  display: grid;
  grid-template-rows: 5vh 80vh 15vh;
}

.topbar {
  font-family: PublicPixel;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;

  background-color: black;
}

.objects {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #AACEC8;
}

.objMetal {
  height: 9vh;
  width: 9vh;
  
  border-radius: 50%;
  border: 2px dashed black;

  margin: 20px;
  background-color: yellow;
}

.objPlastico {
  height: 9vh;
  width: 9vh;
  
  border-radius: 50%;
  border: 2px dashed black;

  margin: 20px;
  background-color: red;
}
.objVidro {
  height: 9vh;
  width: 9vh;
  
  border-radius: 50%;
  border: 2px dashed black;

  margin: 20px;
  background-color: green;
}
.objPapel {
  height: 9vh;
  width: 9vh;
  
  border-radius: 50%;
  border: 2px dashed black;

  margin: 20px;
  background-color: blue;
}

.objOrganico {
  height: 9vh;
  width: 9vh;
  
  border-radius: 50%;
  border: 2px dashed black;

  margin: 20px;
  background-color: brown;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;

  background-color: #50AA82;
}

.trashPlastico {
  height: 10vh;
  width: 10vh;
  border: 2px dashed black;
  background-color: red;
}
.trashMetal {
  height: 10vh;
  width: 10vh;
  border: 2px dashed black;
  background-color: yellow;
}
.trashVidro {
  height: 10vh;
  width: 10vh;
  border: 2px dashed black;
  background-color: green;
}
.trashPapel {
  height: 10vh;
  width: 10vh;
  border: 2px dashed black;
  background-color: blue;
}
.trashOrganico {
  height: 10vh;
  width: 10vh;
  border: 2px dashed black;
  background-color: brown;
}
